# Entorno virtual
.venv/

# Archivos de configuración
.env

# Archivos de caché de Python
__pycache__/
*.pyc

# Archivos de logs
*.log

# Otros archivos y carpetas que quieras ignorar
instance/
*.sqlite3
#DB
*.sql