
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('/static/icons/background2.jpg') ; 
  background-size: cover; 
  background-repeat: no-repeat; 
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.0); /* Fondo blanco con 50% de opacidad */
  z-index: -1; /* Coloca la capa detrás del contenido */
  filter: blur(5px); /* Aplica un desenfoque de 5px a la imagen de fondo */
}

header {
    background-color: rgb(151, 0, 0); /* hex #97000 */
    color: #fff; 
    text-align: center;
    padding: 35px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  header h1 {
    font-size: 45px;
    margin-bottom: 20px;
  }

.subtitles{
  margin: 50px;
  font-weight: bold;
  font-size: large;
}

.alert-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  width: 300px;
}

.alert {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.alert-success {
  background-color: #4CAF50;
  color: white;
}

.alert-error {
  background-color: #f44336;
  color: white;
}



.user-section {
  background-color: #fff; 
  min-height: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  max-width: 600px;
  margin: 20px auto;
}

.user-section h2 {
  font-size: 24px;
  margin-bottom: 10px;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #970000; 
  color: #fff; 
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease-in-out;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease-in-out;
  border-radius: 5px;
}

.dropdown-content a:hover {
  background-color: rgba(
    151,
    0,
    0,
    0.2
  ); 
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #a51945; 
}


footer {
  background-color: rgb(151, 0, 0); /*hex #97000 */
  color: #fff; 
  text-align: center;
  padding: 10px 0;
  border-top: 2px solid #fff;
  font-size: 14px;
}

.profile-button {
    background-color: rgb(151, 0, 0); 
    color: #fff; 
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out;
}

.profile-button:hover {
    background-color: #a51945; 
}


.profile-image-input {
    display: none; 

}


.profile-camera-icon {
    font-size: 20px;
    margin-right: 5px;
}


.user-profile-image {
    width: 45%; 
    min-height: 250px;
    max-height: 250px;
    border-radius: 50%; 
    margin-top: 20px;
    border: 3px solid rgba(151, 0, 0, 0.8); 
    overflow: hidden;
    object-fit: cover;
}
.logo {
    position: absolute;
    left: 20px;
    top: 20px;
  }

  
.logout-button {
    position: absolute;
    top: 10px; 
    right: 10px;
    background-color: #970000; 
    color: #fff; 
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 1s ease-in-out;
}

.logout-button:hover {
    background-color: #CC0000; 
}

@keyframes rellenar{
  to{
    stroke-dasharray: var(--promedio) 100;
  }
}

svg {
  width: 200px;
  height: 200px;
  color: #333;
}

.porcentajes{
  position:relative;
}
.porcentajes span{
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 25px/1em Verdana;
}

circle{
  fill: none;
  stroke-width: 20;
  transform: rotate(-90deg);
  transform-origin: 50%;
  stroke-dasharray: 100 100;
  stroke: #AAA;
}
circle:nth-child(2){ 
  stroke: var(--color);
  stroke-dasharray: 0 100;
  animation: rellenar 4s ease-in-out forwards;
}




/* Estilos para la modal de encuesta */
#surveyModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

#surveyModal .modal-content{
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
  color: #000;
  max-width: 40%; 
  max-height: 70%; 
  overflow-y: auto;
}

#surveyModal .mini-header{
  
  width: 100%;
  background-color: #970000;
  margin-bottom: 40px;
  padding: 3% 0;
  border-radius: 25px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#surveyModal h2 {
  font-size: 29px;
  color: #fff;
}
#surveyModal h3 {
  margin: 40px 0;
}

/* Estilos para las preguntas de la encuesta */
#surveyModal p {
  font-size: 18px;
  color: #000; /* Texto negro */
  background-color: #fff; /* Fondo blanco */
  border: 1px solid #970000; /* Borde de color vino */
  border-radius: 0px 15px;
  padding: 10px;
  margin: 30px 0;
  margin-top: 30px;
  text-align: left; /* Alinea el texto a la izquierda */
}

/* Estilos para las respuestas de las preguntas */
#surveyModal label {
  display: block;
  font-size: 18px;
  color: #000; /* Texto negro */
  margin: 10px 0;
  text-align: left; /* Alinea el texto a la izquierda */
}

#surveyModal #submitSurveyButton {
  background-color: #970000; /* Color vino */
  color: #fff; /* Texto blanco */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out;
}

#surveyModal #submitSurveyButton:hover {
  background-color: #a51945;
}

#surveyModal * {
  box-sizing: content-box;
}

#surveyModal input[type="radio"] {
  margin-right: 5px;
}

/* Estilos para la sección de estrategia */
.estrategia-section {
  background-color: #fff; /* Fondo blanco */
  padding: 20px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
  text-align: center; /* Alineación del texto */
  max-width: 600px; /* Ancho máximo */
  margin: 20px auto; /* Margen exterior */
}

.estrategia-section h2 {
  font-size: 24px; /* Tamaño del encabezado */
  margin-bottom: 10px; /* Margen inferior */
}
