/* Reset de estilos para asegurarse de que los navegadores no apliquen estilos predeterminados */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos generales para el cuerpo de la página */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2; /* Fondo gris claro */
}
/* Estilos para el encabezado */
header {
    width: 100%;
    height: 150px;
    background-color: rgb(151, 0, 0); /* Color vino elegante */
    color: #fff; /* Texto blanco */
    display: flex; /* Muestra los elementos de izquierda a derecha */
    justify-content: space-between; /* Distribuye los elementos a lo largo del eje horizontal */
    align-items: center; /* Centra verticalmente los elementos */
    padding: 20px; /* Ajusta el espaciado interno */
  }

header h1 {
  font-size: 45px;
  margin-bottom: 20px;
}



/* Estilos para el botón de cerrar sesión en el encabezado */
.logout-button {
  position: absolute;
  top: 10px; /* Ajusta la distancia superior según tu preferencia */
  right: 10px; /* Ajusta la distancia derecha según tu preferencia */
  background-color: rgb(151, 0, 0); /* Color de fondo rojo (puedes cambiarlo) */
  color: #fff; /* Texto blanco */
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

/* Estilo para el botón enlace al pasar el mouse */
.logout-button:hover {
  background-color: #a51945; /* Cambia el color al pasar el mouse */
}
/* Estilo para el contenedor principal (main) */
main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  max-width: 1200px;
  margin: 20px auto;
  box-sizing: border-box;
}

/* Estilo para la sección de horarios */
.horario-section {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: calc(50% - 20px);
  margin-right: 20px;
  box-sizing: border-box;
  text-align: center;
}

.horario-section h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  text-align: center; /* Añade esta línea para centrar el texto */
}

/* Estilos para los botones */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(151, 0, 0);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #a51945;
}

/* Estilos para el botón de impresión */
#imprimir-horario {
  margin: 15px;
  padding: 10px 20px;
  background-color: rgb(151, 0, 0);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease-in-out;
}

#imprimir-horario:hover {
  background-color: #a51945;
}
#agregar-materia{
  margin: 15px;
  padding: 10px 20px;
  background-color: rgb(151, 0, 0);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease-in-out;
}
#agregar-materia:hover{
  background-color: #a51945;
}
.agregar-horario{
  margin: 15px;
  padding: 10px 20px;
  background-color: rgb(151, 0, 0);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s ease-in-out;
}
.agregar-horario:hover{
  background-color: #a51945;
}
/* Estilos para el formulario de materia */
.materia-section {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.materia-section h3 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.materia-section label {
  font-weight: bold;
  margin-top: 10px;
}

.materia-section input[type="text"],
.materia-section input[type="time"],
.materia-section input[type="number"],
.materia-section select {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.materia-section input[type="submit"] {
  background-color: rgb(151, 0, 0);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-top: 15px;
}

.materia-section input[type="submit"]:hover {
  background-color: #a51945;
}
h4 {
  font-weight: 900;
  margin-bottom: 30px;
}
#hora_inicio{
  width: fit-content;
}
#hora_fin{
  width: fit-content;
}
/* Estilo para el contenedor de la tabla */
#horario-table-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: calc(50% - 20px);
  overflow: auto;
  margin-top: 20px;
  box-sizing: border-box;
  text-align: center;
}
/* Estilo para la tabla de horarios */
#horario-table {
  border-collapse: separate; /* Establece el modelo de colapsado */
  border-spacing: 10px; /* Añade espacio entre las celdas */
}

/* Estilos para las celdas de la tabla */
#horario-table td {
  padding: 10px; /* Agrega un espacio interno dentro de las celdas */
  background-color: #fff; /* Fondo blanco para las celdas */
  border: 1px solid #ccc; /* Borde ligero alrededor de las celdas */
}

