<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing GarzaCheck</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <style>
    </style>
</head>
<body>
    <header>
         
         <img src="{{ url_for('static', filename='icons/gCLogo.png') }}" alt="otro fokin logo" class="logo">
         <div>
            <h1>Bienvenido a GarzaCheck</h1>
            <p>Administra tu vida académica de manera eficiente.</p>
         </div>
        <a href="{{ url_for('login') }}" class="button-login">Iniciar sesión con Google</a>
    </header>
    <div class="register">
    <a href="/sign_up" class="register-button">¡Date de alta aquí!</a>
    </div>
    <section id="features">
        <div class="feature">
            <h2>Administrador de horarios</h2>
            <p>Visualiza y gestiona tus clases de forma sencilla.</p>
        </div>
        <div class="feature">
            <h2>Predicción de calificaciones</h2>
            <p>Obtén un estimado de tus siguientes promedios de acuerdo a tu rendimiento.</p>
        </div>
        <div class="feature">
            <h2>Estrategia de rendimiento</h2>
            <p>Mejora tu rendimiento escolar descubriendo tus debilidades.</p>
        </div>
    </section>
    
    <div class="carousel-container">
        <div class="carousel">
            <div class="step step-bg" style="background-image: url('static/icons/login.png');">
                <div class="step-content">
                    <h2>Paso 1</h2>
                    <p>Regístrate en GarzaCheck con tu cuenta institucional.</p>
                </div>
            </div>
            <div class="step step-bg" style="background-image: url('static/icons/menu.png');">
                <div class="step-content">
                    <h2>Paso 2</h2>
                    <p>Confirma que tu información personal sea correcta.</p>
                </div>
            </div>
            <div class="step step-bg" style="background-image: url('static/icons/manage.png');">
                <div class="step-content">
                    <h2>Paso 3</h2>
                    <p>Pon en marcha una estrategia para gestionar tus horarios y calificaciones de manera efectiva.</p>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; {{ current_year }} GarzaCheck</p>
      </footer>

    <script>
        // JavaScript para controlar el carrusel de texto
        const carousel = document.querySelector('.carousel');
        const steps = document.querySelectorAll('.step');
        const interval = 3500; // Cambio de paso cada 3 segundos
        let index = 0;

        function changeStep() {
            steps[index].classList.remove('active');
            index = (index + 1) % steps.length;
            steps[index].classList.add('active');
            carousel.style.transform = `translateY(-${index * 100/3}%)`;
        }

        setInterval(changeStep, interval);
    </script>

</body>
</html>
