<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Creación de Horarios</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/schedules.css') }}"
    />
  </head>
  <body>
    <header>
      <a href="/home">
        <img
          src="{{ url_for('static', filename='icons/gCLogo.png') }}"
          alt="Logo de tu empresa"
          class="logo"
        />
      </a>
      <h1>GarzaCheck</h1>
      <form action="/logout">
        <input type="submit" value="Cerrar Sesión" class="logout-button" />
      </form>
    </header>

    <main>
      <section class="horario-section">
        <h2>Crear Horario de Clases</h2>
        <button id="agregar-materia">Agregar Materia</button>

        <button id="imprimir-horario">Actualizar horario</button>
      </section>

      <div id="horario-table-container">
        <h2>Mi Horario</h2>
        <table id="horario-table">
        </table>
      </div>
    </main>

    <footer>
      <!-- No olvidar poner el footer jaja xd -->
    </footer>

    <script src="{{ url_for('static', filename='listeners/schedules.js') }}"></script>
  </body>
</html>
