<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Top Docentes</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/top_doc.css') }}"
    />
    <script>
      function calificarConAlerta(event) {
          event.preventDefault();  // Prevenir el envío del formulario por defecto

          // Mostrar alerta
          alert("Calificación guardada con éxito.");

          // Esperar 2 segundos (2000 milisegundos)
          setTimeout(function () {
              // Obtener el formulario y realizar el envío
              var form = document.getElementById("calificacionForm");
              form.submit();
          }, 2000);
      }
  </script>
</head>

  </head>
  <body>
    <header>
      <a href="/home">
        <img
          src="{{ url_for('static', filename='icons/gCLogo.png') }}"
          alt="otro fokin logo"
          class="logo"
        />
      </a>
      <h1>Edana</h1>
      <form action="/logout">
        <input type="submit" value="Cerrar Sesión" class="logout-button" />
      </form>
    </header>
    

    <main>
      <div class="dropdown">
        <button class="dropbtn"><i class="fas fa-bars"></i> Menú</button>
        <div class="dropdown-content">
          <a href="{{ url_for('prediction') }}">Predicción de promedio</a>
          <a href="{{ url_for('top_docentes') }}">Top docentes</a>
          <a href="{{ url_for('informacion_personal') }}">Información personal</a>
          <a href="{{ url_for('horarios') }}">Gestionar horario</a>

        </div>
      </div>
        <h2>    Top Docentes</h2>
        <section class="teacher-section">
          <div class="teacher-container">
            {% for profesor in profesores %}
            <div class="teacher-card">
              <h3>{{ profesor.nombre }} {{ profesor.apellido_paterno }} {{ profesor.apellido_materno }}</h3>
              <p>Calificación:</p>
              <div class="rating">
                  {% for _ in range(profesor.calificacion | int) %}
                      <span class="star">&#9733;</span> <!-- Estrella iluminada -->
                  {% endfor %}
                  {% for _ in range(5 - profesor.calificacion | int) %}
                      <span class="star">&#9734;</span> <!-- Estrella apagada -->
                  {% endfor %}
              </div>
              <!-- <form action="/calificar_profesor" method="POST"> --> 
              <form>
                  <label for="calificacion">Calificación (0-5):</label>
                  <input type="number" name="calificacion" min="0" max="5" step="1" required>
                  <br>
                  <input type="submit" class="submit-button" value="Calificar" onclick="calificarConAlerta(event)">
              </form>
          </div>
          
            {% endfor %}
          </div>
        </section>
        
        
    </main>

    

    <footer>
      <p>&copy; 2023 Edana</p>
    </footer>
  </body>
</html>
